*{
    box-sizing: border-box;
}

footer{
    text-align: center;
    background-color: #acacac;
    padding: 30px;
    margin-top: 150px;
}
footer h3{
    color: rgb(83, 82, 82);
} 

body{
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
    margin:0;
    padding: 0;

}

header{
    margin:0;
    padding: 0;
    height: 150px;
    width: 100%;
    background-color: rgb(52, 122, 99);
}

header h1{
    margin: 0;
    width: 80%;
    font-size: 45px;
    letter-spacing: 30px;
    color: azure;
    text-align: center;
    margin: 0 auto;
    padding-top:30px;
    
}

main{
    width:540px;
    padding:40px 10px 10px 10px;
    margin: 0 auto;
    min-height: 700px;
    height: auto;

}

.container-top{
    text-align: right;
}
.container-top h1{
    text-align: center;
    padding:15px 0;
    margin: 0;
    letter-spacing: 40px;
    background-color:rgb(96, 255, 157);
}
.container-top input{
    text-align: center;
    padding:0;
    margin:0;
    
}

#criant{
    font-size: 25px;
    margin: 20px 0;
    display: block;
    width: 237px;
}
#place{
    font-size: 10px;
    display: block;
    float:left;
    width: 237px;
    height: 80px;
}



.mine{
    width:200px;
    float: right;
}
.mine h3{
    margin:0 0  10px 0;
    background-color: rgb(48, 124, 230);

}

.mine p{
    margin: 0;
    padding: 0;
}

.container-main{
    clear: both;
}

.container-main h2{

}

.exist table{
    border-collapse: collapse;
    width: 95%;
    margin-top: 10px;
     table-layout: fixed; 
}

th,td{
    border:1px solid #000000;
    height: 10px;
}




.delete-cell{
    border: none;
}

.item{
    width: 45%;
}
.item-prices{
    width: 15%;

}
.amount{
    width: 15%;

}
.subtotal{
    width: 20%;
}

.exist input{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

.total table{
    float: right;
    text-align: center;
    margin-right: 9.5%;
    width: 48%;
}
.money{
    width: 40%; 
}
.mono{
    background-color: rgb(96, 255, 157) ;
}

.numbers{
    text-align: right;

}
.cd{
    clear: both;
}


@media print {
    
  
    .no-print {
      display: none;
    }
  
    input[type="text"],
    input[type="number"] {
        all: unset; 
        font-size: 14pt;
        color: black;
        width: 100%; 
        display: inline-block
    }
  }
  
  
  
